{% extends 'base.html' %}

{% block content %}
<h1 class="text-center font-weight-bold">UPDATE</h1>
<hr>
<form action="{% url 'movies:update' movie.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <hr>
    <div class="d-flex justify-content-end">
        <input type="reset" class="btn btn-danger me-3">
        <input type="submit" class="btn btn-primary">
    </div>
    <hr>
</form>
<a href="{% url 'movies:detail' movie.pk %}" class="btn btn-secondary">BACK</a>
<hr>
{% endblock content %}